<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>飞猪Blog</title>
    <script type="text/javascript">
        var _PageHeight = document.documentElement.clientHeight,
            _PageWidth = document.documentElement.clientWidth;
        var _LoadingTop = _PageHeight > 61 ? (_PageHeight - 61) / 2 : 0,
            _LoadingLeft = _PageWidth > 215 ? (_PageWidth - 215) / 2 : 0;
        var _LoadingHtml = '<div id="loadingDiv" style="position:absolute;left:0;width:100%;height:' + _PageHeight + 'px;top:0;background:#f3f8ff;opacity:0.8;filter:alpha(opacity=80);z-index:10000;"><div style="position: absolute; cursor1: wait; left: ' + _LoadingLeft + 'px; top:' + _LoadingTop + 'px; width: auto; height: 57px; line-height: 57px; padding-left: 50px; padding-right: 50px; background: #fff url(/Content/loading.gif) no-repeat scroll 5px 10px; border: 2px solid #95B8E7; color: #696969; font-family:\'Microsoft YaHei\';">页面加载中，请等待...</div></div>';
        document.write(_LoadingHtml);
        document.onreadystatechange = completeLoading;
        function completeLoading() {
            if (document.readyState == "complete") {
                var loadingMask = document.getElementById('loadingDiv');
                loadingMask.parentNode.removeChild(loadingMask);
            }
        }
    </script>
    <style type="text/css">
        .containerWidth {
            min-width: 900px;
        }

        .DTRLayout-Container {
            margin-top: 136px;
        }

        .iframe {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 222;
        }
    </style>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @*<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">*@
    <link href="~/Content/Article/elementCss.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    @RenderSection("head", false)
</head>
<body>
    <div class="iframe containerWidth" >
        <iframe id="DTR-nav" frameborder="0" width="100%" height="160" src="/Layout/Layout?currentUrl=@Convert.ToBase64String(System.Text.Encoding.Default.GetBytes(Request.Url.PathAndQuery))" scrolling="no" style="position:relative;z-index:2"></iframe>
    </div>
    <div class="DTRLayout-Container containerWidth">
        @RenderBody()
    </div>

</body>
   @RenderSection("bottom", false)
</html>
