@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>登录-飞猪Blog</title>
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
    <meta name="author" content="Vincent Garreau" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="~/Images/logo.png">
    <link rel="stylesheet" media="screen" href="/Content/Login/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/Content/Login/static/css/reset.css" />
    <link href="~/Content/plugin/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div id="particles-js">
        <div class="login">
            <div class="login-top">
                <span style="margin-right:170px;">登录</span>
                <a href="@Url.Content("~/Home/Register")"><i class="fa fa-exchange " style="color:#0094ff;"></i></a>

            </div>
            <div class="login-center clearfix">
                <div class="login-center-img">
                    <img src="/Content/Login/static/picture/name.png" />
                </div>
                <div class="login-center-input">
                    <input type="text" name="BlogID" value="" placeholder="请输入您的用户名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的账号'" />
                    <div class="login-center-input-text">账号</div>
                </div>
            </div>
            <div class="login-center clearfix">
                <div class="login-center-img">
                    <img src="/Content/Login/static/picture/password.png" />
                </div>
                <div class="login-center-input">
                    <input type="password" name="userPwd" value="" placeholder="请输入您的密码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的密码'" />
                    <div class="login-center-input-text">密码</div>
                </div>
            </div>
            <div class="login-center clearfix">

                <div class="login-center-input" style="width: 150px;">
                    <img src="/Home/SecurityCode" id="codeImg" onclick="reset()" style="float:left;" />
                    <input type="text" name="code" value="" placeholder="验证码" onfocus="this.placeholder=''" style="float:right;" onblur="this.placeholder='请输入您的验证码'" />
                    <div class="login-center-input-text">验证码</div>
                </div>
            </div>
            <div class="login-button">
                登陆
		
            </div>
        </div>
        <div class="sk-rotating-plane"></div>
    </div>

    <!-- scripts -->
    <script src="/Content/Login/static/js/particles.min.js"></script>
    <script src="/Content/Login/static/js/app.js"></script>
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <script type="text/javascript">
        function hasClass(elem, cls) {
            cls = cls || '';
            if (cls.replace(/\s/g, '').length == 0) return false; //当cls没有参数时，返回false
            return new RegExp(' ' + cls + ' ').test(' ' + elem.className + ' ');
        }

        function addClass(ele, cls) {
            if (!hasClass(ele, cls)) {
                ele.className = ele.className == '' ? cls : ele.className + ' ' + cls;
            }
        }

        function removeClass(ele, cls) {
            if (hasClass(ele, cls)) {
                var newClass = ' ' + ele.className.replace(/[\t\r\n]/g, '') + ' ';
                while (newClass.indexOf(' ' + cls + ' ') >= 0) {
                    newClass = newClass.replace(' ' + cls + ' ', ' ');
                }
                ele.className = newClass.replace(/^\s+|\s+$/g, '');
            }
        }
        document.querySelector(".login-button").onclick = function () {

            zhuanquanquan();

            //转圈圈
            //removeClass(document.querySelector(".login"), "active")
            //removeClass(document.querySelector(".sk-rotating-plane"), "active")
            //document.querySelector(".login").style.display = "block"

            //登录
            $.ajax({
                type: "post",
                url: "/Home/LoginResult",
                data: {
                    BlogID: $("input[name=BlogID]").val(),
                    userPwd: $("input[name=userPwd]").val(),
                    code: $("input[name=code]").val(),
                },
                success: function (data) {
                  

                    if (data.state != 0) {
                        //错误
                        //removeClass(document.querySelector(".login"), "active")
                        //removeClass(document.querySelector(".sk-rotating-plane"), "active")
                        //document.querySelector(".login").style.display = "block"
                         layer.alert(data.msg)
                        reset();
                    } else {
                       // setTimeout(function () {
                            location.href = data.url;
                        //}, 1000);
                    }

                }
            });

        }

        function zhuanquanquan() {
            //变小
            //addClass(document.querySelector(".login"), "active")
            //setTimeout(function () {
            //    addClass(document.querySelector(".sk-rotating-plane"), "active")
            //    document.querySelector(".login").style.display = "none"
            //}, 800)
        }

        function reset() {
            $("#codeImg").attr("src", "/Home/SecurityCode?=" + new Date());
        }
</script>
</body>
</html>
